body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar {
  margin-bottom: 20px;
}
.form-width{
  max-width:400px;
}
.textarea-height{
  height: 150px;
}

.form-group{
  /* padding-top: 1rem; */
}